{% extends 'base.html' %}

{% block content %}
    <style>
        .post-entry {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        h2 a {
            color: #333;
            text-decoration: none;
        }

        h2 a:hover {
            text-decoration: underline;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }
    </style>
    {#  <h1>Business Ideas:</h1>#}
    {#  {% if form %}#}
    {#    <ul>#}
    {#      {% for post in form %}#}
    {#        <li>{{ post.title }}</li>#}
    {#      {% endfor %}#}
    {#    </ul>#}
    {#  {% else %}#}
    {#    <p>No ideas.</p>#}
    {#  {% endif %}#}
    <div class="nav-right container">
        <a href="{% url "sponsor_page" %}" style="float: right">+ New Post</a>
        <div class="container">
            <br>
            <div class="container">
                <form action="{% url 'search_sponsor' %}" method="get">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Search for Idea:</label>
                        <input type="text" name="searchSponsor" class="form-control"/><br>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <br><br>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center"> About contributing</th>
                        <th scope="col" class="text-center">Idea industry</th>
                        <th scope="col" class="text-center">Idea text</th>
                        <th scope="col" class="text-center">Budget</th>
                        <th scope="col" class="text-center">Contact emai</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>{% for post in form %}</td>
                            <td>{{ posts.About_contributing }}</td>
                            <td>{{ posts.Idea_industry }}</td>
                            <td class="text-center">{{ posts.Idea_text }}</td>
                            <td>{{ posts.Budget }}</td>
                            <td class="text-center" data-href-template="#"> {{ posts.Contact_email }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}