{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated and custom_user == 0%}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Add your business proposal</h1>
                    <p class="card-text">
                    <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <input type="submit" value="Save">
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}