<!DOCTYPE html>
<html>
<head>
    <title>SponsorHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width,
initial-scale=1"/>
</head>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center fw-bold py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">SponsorHub</span>
        </a>

        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
                {% if custom_user == 1 %}
                    <li class="nav-item"><a class="nav-link" href="{% url "user_account" username=user.username %}">Hi, {{ user.username }}</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "Suser_accaunt" username=user.username %}">Hi, {{ user.username }}</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url "logout" %}" class="nav-link">(Logout)</a></li>
                {% if custom_user == 1 %}
                    <li class="nav-item"><a href="{% url "ideas" %}" class="nav-link">All Ideas</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url "sponsor" %}" class="nav-link">All Sponsors</a></li>
                {% endif %}
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contacts</a></li>
            {% else %}
                <li class="nav-item"><a href="{% url "Login" %}" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{% url "SingUp" %}" class="nav-link">Sign up</a></li>
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contacts</a></li>
            {% endif %}
        </ul>
    </header>
</div>

{% block content %}
{% endblock content %}
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'homepage' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{% url "Login" %}" class="nav-link px-2 text-muted">Login</a></li>
            <li class="nav-item"><a href="{% url  "SingUp" %}" class="nav-link px-2 text-muted">Sign up</a></li>
            <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2 text-muted">Contacts</a></li>
        </ul>
        <p class="text-center text-muted">Phone: +1-405-789-2615 | Email: info@sponsorhub.com | &copy; 2023 SponsorHub Inc.</p>
    </footer>
</div>
</html>