
{% extends "base.html" %}

{% block content %}
<div class="nav-right container">
    <a href="{% url "new" %}" style="float: right">+ New Ideas</a>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-center">business name</th>
                    <th scope="col" class="text-center">about sponsor</th>
                    <th scope="col" class="text-center">business industry</th>
                    <th scope="col" class="text-center">budget</th>
                    <th scope="col" class="text-center">email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for posts in Sponsor %}
                    <td>{{ posts.business_name }}</td>
                    <td>{{ posts.about_sponsor }}</td>
                    <td>{{ posts.business_industry }}</td>
                    <td class="text-center">{{ posts.budget }}</td>
                    <td class="text-center" data-href-template="#"> {{ posts.email }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

