{% extends 'base.html' %}
{% block content %}
    <style>
        .post-entry {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }

        h2 a {
            color: #333;
            text-decoration: none;
        }

        h2 a:hover {
            text-decoration: underline;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }
    </style>
    {% if user.is_authenticated and custom_user == 1%}
    <br>
    <div class="container">
        <form action="{% url 'search_idea' %}" method="get">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Search for Sponsor:</label>
                <input type="text" name="searchSponsor" class="form-control"/><br>
                <button type="submit" class="btn btn-primary">Search</button>
                </div>
        </form>
        <br><br>
    <div class="container">
        <h1>ALL SPONSORS</h1><br>
        {% for idea in object_list %}
            <div class="post-entry">
                <h2><a href="{% url 'derail_sponsor' idea.pk %}">{{ idea.business_name }}</a></h2>
                <p>{{ idea.about_sponsor|truncatechars:100 }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}