{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated and custom_user == 1%}
{#    <style>#}
{#        body {#}
{#            background-color: #f8f9fa;#}
{#        }#}
{##}
{#        .container {#}
{#            margin-top: 50px;#}
{#            max-width: 600px;#}
{#            background-color: #ffffff;#}
{#            border-radius: 10px;#}
{#            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);#}
{#            padding: 20px;#}
{#        }#}
{##}
{#        .card {#}
{#            border: none;#}
{#        }#}
{##}
{#        .card-title {#}
{#            font-size: 32px;#}
{#            font-weight: bold;#}
{#            margin-bottom: 20px;#}
{#        }#}
{##}
{#        form {#}
{#            display: flex;#}
{#            flex-direction: column;#}
{#        }#}
{##}
{#        label {#}
{#            font-size: 18px;#}
{#            margin-bottom: 10px;#}
{#        }#}
{##}
{#        input[type=text], textarea {#}
{#            padding: 10px;#}
{#            font-size: 16px;#}
{#            border-radius: 5px;#}
{#            border: 1px solid #ccc;#}
{#            margin-bottom: 20px;#}
{#        }#}
{##}
{#        input[type=submit] {#}
{#            padding: 10px;#}
{#            font-size: 18px;#}
{#            background-color: #007bff;#}
{#            color: #fff;#}
{#            border: none;#}
{#            border-radius: 5px;#}
{#            cursor: pointer;#}
{#        }#}
{##}
{#        input[type=submit]:hover {#}
{#            background-color: #0069d9;#}
{#        }#}
{#    </style>#}
{#    <div class="container">#}
{#        <div class="card mb-3">#}
{#            <div class="row g-0">#}
{#                <div>#}
{#                    <div class="card-body">#}
{#                        <h1 class="card-title">Add your business idea</h1>#}
{#                        <form action="" method="post">{% csrf_token %}#}
{#                            {{ form.as_p }}#}
{#                            <input type="submit" value="Save">#}
{#                        </form>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h1 class="card-title">Add your business idea</h1>
                    <p class="card-text">
                    <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <input type="submit" value="Save">
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}