<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Add Review for {{ movie.title }}</h5>
                    {% if error %}
                        <div class="alert alert-danger mt-3"
                             role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <p class="card-text">
                    <form method="POST">
                         <p>
                            <label>Idea industry</label>
                            {{ form.Idea_industry }}
                         </p>
                        <p>
                            <label>Idea text</label>
                            {{ form.Idea_text }}
                        </p>
                        <p>
                            <label>Budget</label>
                            {{ form.Budget }}
                        </p>
                        <p>
                            <label>Contact email</label>
                            {{ form.Contact_email }}
                        </p>
                        <input type="submit">
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>